  .privacy-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    font-family: Arial, sans-serif;
    color: #111;
    margin-left: 100px;
    animation: fadeInSlideLeft 0.6s ease-out;
  }
  
  .privacy-h1 {
    color: #111;
    padding-bottom: 10px;
    margin-bottom: 50px;
  }
  
  .privacy-h2 {
    color: #111;
    margin-top: 30px;
    font-size: 20px;
  }
  
  .privacy-p {
    margin-bottom: 15px;
    color: #333;
  }
  
  .privacy-section ul {
    margin-left: 20px;
    margin-bottom: 15px;
  }
  
  .privacy-section li {
    margin-bottom: 5px;
  }
  
  .privacy-section {
    margin-bottom: 30px;
  }
  
  @keyframes fadeInSlideLeft {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  