.profile-container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 20px;
}

.profile-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-height: 80px;
    margin-bottom: 40px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-top h1 {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.highlight {
    color: #D6589F;
}

.back-button {
    position: absolute;
    left: 55px;
    margin-top: 5px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
}

.settings-button {
    position: absolute;
    right: 55px;
    margin-top: 5px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
}

.profile-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
}

.profile-main {
    display: flex;
    gap: 4rem;
    align-items: flex-start;
    margin-top: 50px;
}

.profile-avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #D6589F;
}

.profile-avatar img {
    width: 100%;
    width: 200px;
    height: 200px;
    border-radius: 50%; 
}

.user-info {
    display: flex;
    flex-direction: column;
}

.profile-details h2 {
    font-size: 32px;
    margin-bottom: 8px;
}


.profile-details {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.join-date {
    color: #111;
    margin-bottom: 4px;
}

.profession {
    color: #D6589F;
    font-weight: 500;
}

.edit-profile {
    margin-top: 50px;
    padding: 8px 20px;
    border: 1px solid #D6589F;
    border-radius: 10px;
    background: none;
    cursor: pointer;
    width: 100%;
    color: #111;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.edit-profile:hover {
    color: #fff;
    background-color: #D6589F;
}

.stats-container-profile {
    display: flex;
    gap: 5rem;
    margin-left: 120px  ;
}

.stat-item {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 0;
    background-color: #D6589F; 
    border-radius: 15px; 
    padding: 20px; 
    width: 150px;
    height: 110px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.stat-number {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 4px;
    margin-top: 30px;
    line-height: 0;
    color: #fff;
    text-align: center;
}

.stat-labels {
    margin-top: 30px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

/* Mother Div */ 
.user-recipes {
    margin-top: 150px;
    display: flex;
    gap: 10rem;
    flex-direction: row;
    width: 100%;   
}

.view-all {
    margin-left: 400px;
    text-align: right;
    background: none;
    border: none;
    color: #D6589F;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
}

.profile-recipe-title {
    color: #111;
    font-weight: 500;
}

/* Latest Recipes */
.latest-recipes {
    max-width: 800px;
}

.latest-recipes-header, .popular-recipes-header {
    display: flex;
    align-items: center;
    width: 100%;
}


.latest-recipes h2 {
    font-size: 32px;
    flex-grow: 1;
    margin: 0;
}


.latest-recipes h2 span {
    color: #D6589F;
}

.latest-recipes-container {
    display: flex;  
    flex-direction: row;
    gap: 100px;
}

.recipe-item {
    margin-top: 20px;
    margin-left: 40px;
    max-width: 250px;
}

.recipe-item img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.latest-recipes-container p {
    font-size: 16px;
    margin: 0;
    margin-top: 20px;
}


/* Popular Recipes */
.popular-recipes {
    max-width: 800px;
}

.popular-recipes h2 {
    font-size: 32px;
    margin: 0;
}

.popular-recipes h2 span {
    color: #D6589F;
}
